

nav li {
    margin: 20px 0;
}
nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav {
    background-color: black;
    text-decoration: none;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-emphasis-color: white;
    position: fixed;

    top: 0;
    bottom: 0;
    width: 180px ;
    height: 100vh;
    
        
}


.intro {
    
    color:rgb(96, 17, 0);
    font-family:'Gill Sans';
    text-align: center;
    padding-top: 20%;
}